
@font-face {
	font-family: "Tenor";
	src: url(../fonts/Tenor-Regular.woff2);
	font-weight: 400;
	font-style: normal;
	font-display: block;
}  

@font-face {
	font-family: "Maza";
	src: url(../fonts/Maza-Regular.woff2);
	font-weight: 400;
	font-style: normal;
	font-display: block;
}  

@font-face {
	font-family: "";
	src: url(../fonts/.woff2);
	font-weight: 400;
	font-style: normal;
	font-display: block;
}  
